.log-back {
  display: inline-block;
  color: #555;
}

.log-meta {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5em;
  color: #555;
  margin-top: 1em;
  font-size: 0.95em;
}

.log-image {
  display: block;
  margin: 0.5em 0;
}

.log-image.very-small {
  width: 100px;
  height: auto;
}
.log-image.small {
  width: 200px;
  height: auto;
}
.log-image.medium {
  width: 400px;
  height: auto;
}
.log-image.large {
  width: 800px;
  height: auto;
}
