---
layout: default
---

<link rel="stylesheet" href="/assets/css/log.css" />

<article class="log-entry">
  <div class="log-content">{{ content }}</div>
  {% if page.created_at or page.updated_at %}
  <hr />
  <div class="log-meta">
    {% if page.created_at %}
    <span class="log-date-created">Created: {{ page.created_at }}</span>
    {% endif %} {% if page.updated_at and page.updated_at != page.created_at %}
    <span class="log-date-updated">Updated: {{ page.updated_at }}</span>
    {% endif %}
  </div>
  {% endif %}
</article>
